body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
  
a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.line {
  border-bottom: 1px solid #000000;
}

figure {
  display: block;
  text-align: center;
}

figcaption {
  font-style: italic;
}

/* Header styles */
header {
  background-color: #f0f0f0;
  padding: 20px;
  margin-left: 210px;
  margin-top: 52px;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

/* Navigation styles at the top of the page*/
.topnav {
  background-color: #ff0000;
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 210px;
  right: 0;
}

.topnav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topnav li {
  display: inline-block;
  margin-right: 20px;
}

.topnav a {
  color: #fff;
  text-decoration: none;
}

.topnav a:hover {
  text-decoration: underline;
}


/* Navigation styles to the side of the page*/
.sidenav {
  display: flex;
  position: fixed;
  float: left;
  top: 0;
  left: 0;
  width: 170px;
  height: 100%;
  background-color: #ff0000;
  padding: 20px;
  vertical-align: center;
}

.topofnav {
  margin-top: -10px;
}

.sidenav ul {
  list-style: none;
  margin-left: -20px;
}

.sidenav a {
  display: block;
  padding: 3px;
  text-decoration: none;
  color: #fff;
  margin-left: -30px;
  font-size: 12px; 
}

.sidenav a:hover {
  background-color: #ccc;
}

.sidenav ul ul li {
  font-size: 8px;
}

.line2 {
  border-top: 2px solid #ffffff;
}


.sidenavofdata {
  display: flex;
  position: fixed;
  float: left;
  top: 0;
  left: 0;
  width: 170px;
  height: 100%;
  background-color: #ff0000;
  padding: 20px;
  vertical-align: center;
}

.sidenavofdata ul {
  list-style: none;
  margin-left: -20px;
}

.sidenavofdata a {
  display: block;
  padding: 3px;
  text-decoration: none;
  color: #fff;
  margin-left: -30px;
  font-size: 15px; 
}

.sidenavofdata a:hover {
  background-color: #ccc;
}



/* Main content styles */
main {
  margin: 20px;
  margin-left: 220px;
}


/* Module styles */
.module {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f0f0f0;
}

.module h2 {
  margin: 0;
  font-size: 24px;
}

.module p {
  margin: 10px 0;
}

/* Sidebar styles */
aside {
  background-color: #ffffff;
  font-style: italic;
  font-size: 90%;
  width: 20%;
  max-width: 150px;
  min-width: 100px;
  float: right;
  padding: 10px;
  margin-left: 20px 0;
  border-left: 5px solid #ff0000;
}


/* Footer styles */
footer {
  background-color: #f0f0f0;
  margin-left: 210px;
  padding: 10px;
  text-align: center;
}
